.post-entry {
   position: relative;
   padding-right: 120px;
}

.entry-cover {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1.5rem;
  width: 100px;
}

.entry-cover img {
   width: 100%;
   height: 80px;
   object-fit: cover;
   border-radius: 4px;
}

.post-entry.tag-entry .entry-cover {
    display: block !important;
}
