{{ with resources.Get "js/extended/lazyload.js" }}
    {{ $lazyjs := . | resources.Minify }}
    <script src="{{ $lazyjs.RelPermalink }}"></script>
{{ end }}

{{ with resources.Get "js/extended/tierlist.js" }}
    {{ $tierjs := . | resources.Minify }}
    <script src="{{ $tierjs.RelPermalink }}"></script>
{{ end }}

{{ with resources.Get "js/extended/image-rotate.js" }}
    {{ $imagerotate := . | resources.Minify }}
    <script src="{{ $imagerotate.RelPermalink }}"></script>
{{ end }}

{{ with resources.Get "js/extended/simpleanalytics.js" }}
    {{ $analytics := . | resources.Minify }}
    <script src="{{ $analytics.RelPermalink }}"></script>
{{ end }}

{{ with resources.Get "css/extended/tierlist.css" }}
    {{ $css := . | resources.Minify }}
    <link rel="stylesheet" href="{{ $css.RelPermalink }}">
{{ end }}
