{{ $scripts := slice }}

{{ with resources.Get "js/extended/lazyload.js" }}
    {{ $scripts = $scripts | append . }}
{{ end }}

{{ with resources.Get "js/extended/tierlist.js" }}
    {{ $scripts = $scripts | append . }}
{{ end }}

{{ with resources.Get "js/extended/image-rotate.js" }}
    {{ $scripts = $scripts | append . }}
{{ end }}

{{ with resources.Get "js/extended/simpleanalytics.js" }}
    {{ $scripts = $scripts | append . }}
{{ end }}

{{ if $scripts }}
    {{ $js := $scripts | resources.Concat "js/bundle.js" | resources.Minify }}
    <script src="{{ $js.RelPermalink }}"></script>
{{ end }}

{{ with resources.Get "css/extended/tierlist.css" }}
    {{ $css := . | resources.Minify }}
    <link rel="stylesheet" href="{{ $css.RelPermalink }}">
{{ end }}
