{{ with resources.Get "js/extended/lazyload.js" }}
    {{ $lazyjs := . }}
    {{ with resources.Get "js/extended/tierlist.js" }}
        {{ $tierjs := . }}
        {{ with resources.Get "js/extended/simpleanalytics.js" }}
            {{ $analytics := . }}
            {{ $js := slice $lazyjs $tierjs $analytics | resources.Concat "js/bundle.js" | resources.Minify }}
            <script src="{{ $js.RelPermalink }}"></script>
        {{ end }}
    {{ end }}
{{ end }}

{{ with resources.Get "css/extended/tierlist.css" }}
    {{ $css := . | resources.Minify }}
    <link rel="stylesheet" href="{{ $css.RelPermalink }}">
{{ end }}
